.header-nav {
  background-color: #ee7214;
  margin: 0;
  h1 {
    margin-right: 1rem;
    font-size: 2vw;
    font-family: var(--font-principal);
    color: black;
    text-shadow: 1px 8px 8px black;
    white-space: nowrap;
  }
  @media (max-width: 800px) {
    h1 {
      font-size: 3vw;
      margin: 0;
    }
  }
}

@media (max-width: 800px) {
  .container-fluid {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
  .header-nav {
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
  }
}
