:root {
  --header-color: #f18701;
  --main-color: #f7b801;
  --text-descrip: #3d348b;
  --footer: #f7b787;
  --nav-text: white;
  --font-principal: "Playwrite HU";
  --font-opc: "Caveat";
  --button: #7678ed;
  /* --nav-background: rgba(1, 150, 150, 100%); */
  --nav-background: rgb(255, 85, 0);
  --nav-a: rgb(255, 170, 66);
  --content-bk: rgba(255, 255, 255, 0.939);
}
