#trabajo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #527853;
  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px;
    width: 100%;

    .--content-card {
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #527853;
      margin: 30px;
      width: 40%;
      height: 30%;
      overflow: hidden;
      &:hover {
        background-color: #3a573b;
        box-shadow: rgba(255, 255, 255, 100) 1px 1px 10px 10px;
      }
    }
    .--content-text {
      min-width: 100%;
    }
    .--content-text-p {
      font-size: 1.5rem;
      margin: 0px;
      padding: 10px;
      background-color: #466e477c;
    }
    .--content-img {
      width: 100%;
      height: 300px;
      padding: 0px;
      margin: 0px;
      object-fit: cover;
      display: block;
    }
  }
  @media (max-width: 800px) {
    .content {
      margin: 0px;
      .--content-card {
        flex-direction: column;
        min-width: 95%;
      }
      .--content-text-p {
        font-size: 1.5rem;
      }
      .--content-img {
        min-width: 100%;
        height: 200px;
        padding: 0px;
        margin: 0px;
        object-fit: cover;
      }
    }
  }
}
